.filtering {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  height: 70px;
  margin-top: -15px;
  padding: 35px 25px 10px 25px;
  overflow: hidden;

  background-color: $special-blue-ellipse;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: 768px) {
    height: 179px;
    margin-top: -40px;
    padding: 101px 71px 10px 71px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  @media (min-width: 1440px) {
    padding: 100px 118px 10px 80px;
  }

  &--expanded {
    height: auto;

    & .filtering__toggle {
      &::before {
        width: 16px;
        height: 16px;

        background-image: url("../img/icons/icon-close.svg");

        @media (min-width: 768px) {
          width: 22px;
          height: 18px;
          background-size: contain;
        }
      }

      @media (min-width: 768px) {
        &::after {
          content: "Свернуть";
        }
      }
    }

    & .filtering__container {
      display: flex;
    }
  }
}

.filtering__title {
  position: relative;

  padding-left: 26px;
  order: 1;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-font;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;

    width: 15px;
    height: 10px;

    background-image: url("../img/icons/icon-filter.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    transform: translateY(-50%);

    @media (min-width: 1440px) {
      width: 23px;
      height: 15px;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: block;
    margin-right: 30px;
    padding-left: 45px;

    font-size: 20px;
    line-height: 20px;
  }
}

.filtering__countries {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0 0 25px;
  order: 3;

  @media (min-width: 768px) {
    width: auto;
    margin: 0;
    flex-direction: row;
    order: 2;
  }
}

.filtering__item {
  margin-bottom: 10px;
  opacity: 0.3;

  @media (min-width: 768px) {
    margin: 0 29px 0 0;
  }

  @media (min-width: 1440px) {
    margin-right: 32px;
  }

  &--active {
    opacity: 1;
  }
}

.filtering__text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-font;

  background-color: $transparent-color;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.filtering__toggle {
  position: relative;

  font-family: inherit;

  order: 2;
  width: 17px;
  height: 23px;
  margin-left: auto;
  margin-top: -4px;

  background-color: $transparent-color;
  border: none;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 100%;
    height: 3px;

    transform: translateY(-50%);

    background-image: url("../img/icons/icon-dots.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: 768px) {
      width: 30px;
      height: 6px;

      right: -28px;
      top: 50%;
      left: inherit;

      transform: translateY(-50%);
    }
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 185px;
    height: 22px;
    margin: -2px 30px 0 auto;
    order: 3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      position: absolute;
      content: "Показать все";
      top: 50%;
      right: 27px;

      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      color: $basic-blue-font;
      white-space: nowrap;

      transform: translateY(-50%);
    }
  }

  @media (min-width: 1440px) {
    margin-top: -3px;
  }
}

.filtering__container {
  position: relative;
  z-index: 22;

  display: none;
  justify-content: center;
  align-items: center;
  order: 4;
  flex-direction: column;
  width: 100%;
  padding: 28px 25px;

  background-color: $special-blue-ellipse;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 0 80px 0;
  }
}

.filtering__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;

  @media (min-width: 768px) {
    max-width: 380px;
    align-self: flex-start;
  }

  @media (min-width: 1440px) {
    max-width: 100%;
  }
}

.filtering__group {
  flex-grow: 1;

  margin: -1px 0 0 -5px;

  &--fixed {
    margin-left: 0;
  }

  @media (min-width: 768px) {
    margin: 0 10px 10px 0;
  }

  @media (min-width: 1440px) {
    width: 220px;
    margin-bottom: 50px;
  }
}

.filtering__letter {
  position: relative;

  width: 44px;
  height: 40px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: $blue-button;

  background-color: $basic-white;
  border: none;
  border: 1px solid $another-border-color;

  &:active,
  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 60px;
    height: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 60px;

    opacity: 0.3;
    background-color: $transparent-color;
    border: none;
  }

  @media (min-width: 1440px) {
    color: $basic-blue-font;
    opacity: 1;
  }

  &--active {
    color: $basic-white;

    background-color: $blue-button;
    border-color: $blue-button;

    @media (min-width: 768px) {
      opacity: 1;
      color: $blue-button;
      background-color: $transparent-color;
    }
  }
}

.filtering__list {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    margin-top: 40px;
  }
}

.filtering__box {
  @media (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.filtering__country {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  text-align: left;

  background-color: $transparent-color;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filtering__content {
  width: 220px;
  margin-top: 15px;

  & .filtering__list {
    display: block;
  }

  @media (min-width: 768px) {
    width: 145px;
    margin: 0 0 0 auto;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.filtering__close {
  display: block;
  width: calc(100% + 50px);
  max-width: 270px;
  margin: 30px -25px 0 -25px;
  padding: 10px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-blue-font;

  background-color: $filtering-button;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 76px center;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background-color: $filtering-button-hover;
  }

  &:active {
    color: rgba($basic-blue-font, 0.3);

    background-color: $filtering-button-hover;
  }

  @media (min-width: 768px) {
    max-width: 100%;
    height: 100px;
    margin-top: 80px;

    font-size: 20px;

    background-size: 22px 24px;
    background-position: 38% center;
  }

  @media (min-width: 1440px) {
    background-position: 43% center;
  }
}
