.header {
  min-height: 73px;

  background-color: $basic-blue;

  transition: all 0.1s ease;

  @media (min-width: 768px) {
    background-color: $special-blue;
  }

  @media (min-width: 1440px) {
    background-color: $basic-blue;
  }

  &__fix {
    position: fixed;
    top: 0;
    z-index: 20000;

    width: 100%;

    background-color: $basic-white;

    & .page-nav {
      @media (min-width: 1440px) {
        padding: 25px 20px;
      }
    }

    & .page-nav__link {
      color: $basic-blue;
    }

    & .page-nav__wrapper::before {
      background-color: $basic-blue;
    }

    & .toggle__line::before,
    & .toggle__line::after {
      background-color: $basic-grey;
    }

    & .page-logo {
      background-image: url("../img/page-logo-mobile-dark.png");
      background-repeat: no-repeat;
      background-size: 100%;

      @media (min-width: 768px) {
        width: 166px;
        background-image: url("../img/page-logo-tablet-dark.png");
      }

      @media (min-width: 1440px) {
        width: 198px;
        background-image: url("../img/page-logo-desktop-dark.png");
      }
    }

    & .page-logo__img {
      display: none;
    }

    & + .page__main {
      padding-top: 73px;

      @media (min-width: 768px) {
        padding-top: 104px;
      }

      @media (min-width: 1440px) {
        padding-top: 105px;
      }
    }
  }
}
