.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }

  @media (min-width: 1440px) {
    padding: 47px 20px;
  }

  @media (max-width: 767px) {
    &--nojs .page-nav__wrapper {
      height: 189px;
    }

    &--nojs .page-nav__list {
      transform: translateY(0);
    }

    &--nojs .toggle {
      display: none;
    }
  }
}

.page-nav--open {
  width: calc(100% + 50px);
  margin: 0 -25px 0 -25px;
  overflow: hidden;
  padding: 19px 25px;

  background-color: $basic-white;

  @media (min-width: 768px) {
    width: calc(100% + 80px);
    margin: 0 -40px 0 -40px;
    padding: 40px;
  }

  & .page-nav__wrapper {
    min-height: 516px;
    padding-top: 61px;

    @media (min-width: 768px) {
      min-height: 780px;
      padding-top: 68px;
    }
  }

  & .page-nav__list,
  & .menu__button,
  & .page-nav__socials {
    transform: translateY(0);
  }

  & .page-logo {
    background-image: url("../img/page-logo-mobile-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: 768px) {
      width: 166px;

      background-image: url("../img/page-logo-tablet-dark.png");
    }
  }

  & picture {
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }
}

.page-nav__wrapper {
  position: relative;
  z-index: 22;

  width: calc(100% + 50px);
  height: 0;
  margin: 0 -25px 0 -25px;
  padding: 0 25px;
  overflow: hidden;

  background-color: $basic-white;

  transform: translateY(20px);

  transition: height 0.3s ease;

  @media (min-width: 768px) {
    width: calc(100% + 80px);
    margin: 0 -40px 0 -40px;
    padding: 0 97px;
  }

  @media (min-width: 1440px) {
    top: 2px;

    display: flex;
    align-items: center;
    flex-grow: 1;
    width: auto;
    height: auto;
    margin: 0 0 0 40px;
    padding: 0 0 0 105px;

    transform: none;

    background-color: $transparent-color;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 10px;

      width: 60px;
      height: 2px;

      background-color: $basic-white;
    }
  }
}

.page-nav__menu {
  display: none;

  & .menu__button--single {
    width: 188px;
    margin-right: 4px;

    font-size: 20px;
  }

  & .menu__button--call,
  & .menu__button--mail {
    display: none;

    @media (min-width: 1440px) {
      display: flex;
    }
  }

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
    order: 3;
  }
}

.page-nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 54px;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $basic-blue;
  text-transform: uppercase;
  text-align: center;

  background-color: $basic-yellow;
  border-radius: 25px;

  transition: all 0.3s ease;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-nav__list {
  transform: translateY(-100%);

  list-style: none;
  text-align: center;

  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    text-align: left;
  }

  @media (min-width: 1440px) {
    display: flex;

    transform: none;
  }
}

.page-nav__contacts {
  margin-top: 50px;

  & .contacts__span {
    color: $basic-blue-font;
  }

  @media (min-width: 768px) {
    margin-top: 136px;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.page-nav__item {
  &:not(:last-child) {
    @media (min-width: 1440px) {
      margin-right: 34px;
    }
  }
}

.page-nav__link {
  position: relative;
  display: block;

  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: $basic-blue-font;
  text-transform: uppercase;

  transition: all 0.3s ease;

  &:hover {
    color: $basic-yellow;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: 1440px) {
    overflow: hidden;

    font-size: 20px;
    line-height: 20px;
    color: $basic-white;

    &:hover {
      span {
        transform: translateY(-100%);
      }
    }

    & span {
      position: relative;

      display: inline-block;
      vertical-align: middle;

      transition: transform 0.3s;

      &::before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);

        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.page-nav__socials {
  display: flex;
  margin-top: 30px;

  & .page-nav__item:not(:last-child) {
    margin-right: 27px;

    @media (min-width: 768px) {
      margin-right: 35px;
    }
  }

  & .socials__social {
    background-color: $transparent-color;
  }

  @media (min-width: 768px) {
    margin: 112px 0 0 0px;
    justify-content: flex-start;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.page-nav__social {
  display: block;

  background-repeat: no-repeat;
  background-size: 100%;

  &--fb {
    width: 11px;
    height: 21px;

    background-image: url("../img/icons/icon-facebook.svg");

    @media (min-width: 768px) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk {
    width: 23px;
    height: 12px;

    background-image: url("../img/icons/icon-vk.svg");

    @media (min-width: 768px) {
      width: 31px;
      height: 16px;
    }
  }

  &--insta {
    width: 18px;
    height: 18px;

    background-image: url("../img/icons/icon-insta.svg");

    @media (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
}
