.step {
  display: none;
  margin-bottom: 10px;
  padding: 22px 25px;

  border-radius: 10px;
  background-color: $basic-white;

  @media (min-width: 768px) {
    padding: 44px 40px 56px 40px;

    border-radius: 30px;
  }

  @media (min-width: 1440px) {
    padding: 95px 160px 106px 160px;

    border-radius: 60px;
  }

  &--active {
    display: block;
  }
}

.step__title {
  font-size: 20px;
  line-height: 20px;
  color: $blue-button;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    & br {
      display: none;
    }
  }
}

.step__text {
  margin-top: 16px;

  font-size: 16px;
  line-height: 22px;
  color: $special-grey;

  @media (min-width: 768px) {
    margin-top: 37px;
    padding-right: 20px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    max-width: 581px;
    margin-top: 35px;
    padding-right: 0;
  }
}

.step__group {
  margin-top: 19px;

  @media (min-width: 768px) {
    margin-top: 39px;
    padding-top: 24px;

    border-top: 1px solid $border-color;
  }

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-top: 56px;
    padding-top: 30px;
  }

  &--relative {
    position: relative;
    top: -36px;

    @media (min-width: 768px) {
      top: 0;

      margin-top: 26px;
    }

    @media (min-width: 1440px) {
      margin-top: 15px;
      padding: 0 0 33px 0;

      border-top: none;
      border-bottom: 1px solid $border-color;
    }
  }

  &--calendar {
    @media (min-width: 768px) {
      margin-top: 2px;
      margin-bottom: 48px;

      border-top: none;
    }

    @media (min-width: 1440px) {
      display: block;
      margin-top: -33px;
      padding-top: 0;
    }
  }

  &--country {
    position: relative;

    margin: 0;

    &:not(:last-child) {
      padding-bottom: 25px;

      &::before {
        position: absolute;
        content: "";
        top: 12px;
        left: -12px;

        width: 2px;
        height: 100%;

        background-color: $blue-button;

        @media (min-width: 768px) {
          left: inherit;
          right: -34px;
          top: 44px;
        }

        @media (min-width: 1440px) {
          right: 150px;
          top: 50px;
        }
      }
    }

    @media (min-width: 768px) {
      border: none;
    }

    @media (min-width: 1440px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.step__fieldset {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 34px;
    padding: 20px 33px 50px 0;

    border-top: 1px solid $another-border-color;
  }

  @media (min-width: 1440px) {
    margin-top: 55px;
    padding-top: 40px;
  }
}

.step__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $blue-button;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  & span {
    opacity: 0.3;

    @media (min-width: 768px) {
      letter-spacing: 0;
    }

    @media (min-width: 1440px) {
      position: relative;
      left: 254px;

      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: 1440px) {
    width: 221px;

    letter-spacing: 0;
  }
}

.step__inner {
  position: relative;

  margin-top: 10px;

  @media (min-width: 768px) {
    margin-top: 26px;
  }

  @media (min-width: 1440px) {
    width: 180px;
    margin: 0;
  }
}

.step__input-number {
  width: 100%;
  padding: 11px 42px;

  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: $blue-button;
  text-align: center;

  border-radius: 5px;
  border: 1px solid $another-border-color;
  background-color: $transparent-color;

  transition: all 0.3s ease;

  &:hover {
    border-color: $input-hover;

    & ~ .step__btn svg {
      fill: $input-hover;
    }
  }

  &:active {
    border-color: $basic-blue;
  }

  &:focus {
    border-color: $basic-blue;
    outline: none;

    & ~ .step__btn svg {
      fill: $basic-blue;
    }
  }

  &:disabled {
    background-color: $basic-white;
  }

  @media (min-width: 768px) {
    padding: 21px 66px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    padding: 21px 60px;
  }
}

.step__btn {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 100%;

  background-color: $transparent-color;
  border: none;

  cursor: pointer;

  & svg {
    width: 14px;
    height: 14px;

    transition: fill 0.3s ease;

    @media (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    & svg {
      fill: $grey-hover;
    }
  }

  &:active {
    outline: none;

    & svg {
      fill: $grey-active;
    }
  }

  &:focus {
    outline: none;
  }

  &--less {
    left: 0;
  }

  &--more {
    right: 0;
  }

  @media (min-width: 768px) {
    width: 66px;
  }

  @media (min-width: 1440px) {
    width: 60px;
  }
}

.step__checkbox {
  position: relative;
  bottom: -98px;

  display: flex;
  align-items: center;
  margin-top: 10px;

  @media (min-width: 768px) {
    bottom: 0;

    margin-top: 26px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}

.step__input-checkbox {
  display: none;

  &:checked + .step__control::before {
    display: block;
  }
}

.step__control {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;

  border-radius: 4px;
  background-color: $basic-white;
  border: 1px solid $another-border-color;

  transition: all 0.3s ease;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";

    display: none;
    width: 9px;
    height: 9px;

    background-image: url("../img/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: 768px) {
      width: 11px;
      height: 11px;
    }
  }

  &:hover {
    border-color: $input-hover;
  }

  &:active {
    background-color: $special-blue-ellipse;
    border-color: $special-blue-ellipse;

    &::before {
      opacity: 0.3;
    }
  }

  @media (min-width: 768px) {
    width: 36px;
    height: 36px;
  }
}

.step__span {
  margin-left: 13px;

  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $blue-button;

  @media (min-width: 768px) {
    margin-left: 22px;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.step__controls {
  margin-top: 22px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  @media (min-width: 1440px) {
    margin-top: 56px;
  }
}

.step__button {
  width: 100%;
  padding: 5px;

  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $blue-button;

  border: none;
  background-color: $basic-yellow;
  border-radius: 20px;

  cursor: pointer;

  &::after {
    opacity: 0;
  }

  @media (min-width: 768px) {
    max-width: 284px;
    height: 80px;
    padding: 21px 33px 25px 33px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;

    &::after {
      opacity: 1;
    }
  }

  &--simple {
    position: relative;

    background-color: $transparent-color;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
      outline: none;
    }

    @media (min-width: 768px) {
      padding-right: 40px;

      text-align: right;
      line-height: 22px;

      &::before {
        position: absolute;
        content: "";
        top: 45%;
        left: 65px;

        width: 14px;
        height: 14px;

        background-image: url("../img/icons/icon-triangle.svg");
        background-repeat: no-repeat;

        transform: translateY(-50%) rotate(300deg);

        transition: all 0.3s ease;
      }
    }
  }
}

.step__heading {
  position: relative;

  margin-top: 33px;
}

.step__input-date {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9px 30px 11px 30px;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: $blue-button;
  text-align: center;

  border: none;
  border-top: 1px solid $filtering-button;
  border-bottom: 1px solid $filtering-button;

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    padding: 22px 64px 25px 64px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    border-top: none;
  }
}

.step__arrow {
  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 21px;

  border: none;
  background-color: $transparent-color;
  cursor: pointer;
  opacity: 0.3;

  transform: translateY(-50%);
  transition: opacity 0.3s ease;

  & svg {
    transition: opacity 0.3s ease;
  }

  &:hover svg {
    opacity: 0.5;
  }

  &:active svg {
    opacity: 0.1;
  }

  &:focus {
    outline: none;
  }

  &--prev {
    @media (min-width: 768px) {
      left: 12px;
    }

    @media (min-width: 1440px) {
      left: -10px;
    }
  }

  &--next {
    right: 0;

    @media (min-width: 768px) {
      right: 12px;
    }

    @media (min-width: 1440px) {
      right: -10px;
    }
  }

  @media (min-width: 768px) {
    width: 30px;
    height: 36px;
  }

  @media (min-width: 1440px) {
    width: 35px;
    height: 30px;
  }
}

.step__table {
  width: 100%;
  margin-top: 21px;

  border-collapse: collapse;

  @media (min-width: 768px) {
    margin-top: 38px;
  }

  @media (min-width: 1440px) {
    margin-top: 17px;
  }

  & th {
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $special-grey;

    &:nth-child(6),
    &:nth-child(7) {
      color: $weekend-color;
    }

    @media (min-width: 768px) {
      font-size: 18px;
    }

    @media (min-width: 1440px) {
      padding: 0 0 20px 16px;
    }
  }

  & span {
    display: block;
    width: 7px;
    margin: 0 auto;
    overflow: hidden;

    @media (min-width: 768px) {
      width: auto;
    }

    @media (min-width: 1440px) {
      text-align: left;
    }
  }

  & td {
    width: 31px;
    height: 31px;

    text-align: center;

    border: 1px solid $table-border-color;

    @media (min-width: 768px) {
      width: 77px;
      height: 69px;

      font-size: 18px;
    }

    @media (min-width: 1440px) {
      width: 142px;
      height: 71px;
      padding: 10px 0 0 15px;
      vertical-align: top;

      text-align: left;
    }
  }
}

.step__choices {
  position: relative;

  margin-top: 21px;

  @media (min-width: 768px) {
    padding: 42px 0;

    border-top: 1px solid $border-color;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 143px;

      width: 1px;
      height: 100%;

      background: linear-gradient(
        180deg,
        rgba(225, 227, 233, 1) 80%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }
}

.step__choice {
  position: relative;

  display: flex;

  &:not(:last-child) {
    margin-bottom: 22px;

    &::after {
      position: absolute;
      content: "";
      right: 48px;
      bottom: -15px;

      width: 9px;
      height: 10px;

      background-image: url("../img/icons/icon-choice-arrow-down.svg");
      background-repeat: no-repeat;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  @media (min-width: 768px) {
    &:last-child {
      padding-right: 167px;
    }
  }
}

.step__choice-button {
  position: relative;

  flex-grow: 1;
  height: 43px;
  padding: 10px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $blue-button;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3px;
  white-space: nowrap;

  background-color: $page-background;
  border-radius: 4px;
  border: none;
  border: 1px solid $transparent-color;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border-color: $input-hover;
  }

  &[data-selected="true"] {
    & ~ .step__flag {
      display: inline-block;
    }

    &::before {
      right: -4px;
      z-index: 2;

      background-color: $blue-button;
      border-color: $blue-button;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 48px;
    z-index: 2;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    border: 1px solid $another-border-color;
    background-color: $basic-white;

    transform: translateY(-50%);

    @media (min-width: 768px) {
      right: -32px !important;

      width: 14px;
      height: 14px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    right: 15px;
    top: 50%;
    z-index: 2;

    width: 14px;
    height: 14px;

    background-image: url("../img/icons/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;

    transform: translateY(-50%);

    @media (min-width: 768px) {
      right: 25px;

      width: 21px;
      height: 21px;
    }
  }

  &--white {
    background-color: $transparent-color;
    border-color: $another-border-color;

    &::after {
      width: 16px;
      height: 12px;

      background-image: url("../img/icons/icon-choice-arrow.svg");
      background-position: center;

      @media (min-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &--add {
    margin: 0;

    background-color: $page-background;

    transition: all 0.3s ease;

    &:hover {
      background-color: $page-background;
      border-color: $page-background;
    }

    &:active {
      background-color: $profile-button;
    }

    @media (min-width: 768px) {
      &::before {
        background-color: $page-background;
      }
    }

    @media (min-width: 1440px) {
      background-color: $transparent-color;
    }
  }

  @media (min-width: 768px) {
    height: 70px;
    padding: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  &[data-country="Чехия"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-czech.png");
  }

  &[data-country="Австралия"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-australia.png");
  }

  &[data-country="Бельгия"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-belgium.png");
  }

  &[data-country="Доминика"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-dominica.png");
  }

  &[data-country="Германия"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-germany.png");
  }

  &[data-country="Сейшелы"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-seyshels.png");
  }

  &[data-country="Шри-Ланка"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-shrilanka.png");
  }

  &[data-country="Таиланд"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-thailand.png");
  }

  &[data-country="США"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-usa.png");
  }

  &[data-country="Великобритания"] ~ .step__flag::after {
    background-image: url("../img/flags/flag-britain.png");
  }
}

.step__flag {
  position: relative;

  display: none;
  width: 53px;
  height: 43px;
  vertical-align: top;
  margin-left: -1px;

  border: 1px solid $another-border-color;
  border-radius: 4px;

  &::before {
    position: absolute;
    content: "";
    left: -91px;
    top: 50%;

    width: 90px;
    height: 36px;

    background-image: url("../img/fade-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 35px;
    height: 24px;

    background-repeat: no-repeat;
    background-size: 100%;

    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      width: 70px;
      height: 47px;
    }
  }

  @media (min-width: 768px) {
    display: block;
    width: 168px;
    height: 70px;

    border: none;
  }
}

.step__countries {
  position: absolute;
  top: 0;
  z-index: 22;

  display: none;
  width: 100%;

  @media (min-width: 768px) {
    padding-right: 167px;
  }

  @media (min-width: 1440px) {
    padding-right: 0;
  }

  &--active {
    display: block;

    & ~ .step__close {
      display: none;
    }
  }
}

.step__country {
  font-size: 16px;
  font-family: inherit;
  line-height: 22px;
  color: $special-grey;
  text-align: left;

  border: none;
  background-color: $transparent-color;

  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $blue-button;
  }

  &:active {
    color: $blue-button;
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.step__wrapper {
  background-color: $basic-white;

  @media (min-width: 768px) {
    padding: 35px 27px;

    box-shadow: 0 8px 16px 0 rgba(54, 80, 148, 0.18);
    border-right: 1px solid $table-border-color;
  }
}

.step__letters {
  width: 100%;

  border-collapse: collapse;

  background-color: $basic-white;

  @media (min-width: 1440px) {
    width: auto;

    border-collapse: separate;
    border-spacing: 16px;
  }
}

.step__letters-cell {
  width: 45px;
  height: 43px;

  border: 1px solid $another-border-color;

  transition: border 0.3s ease;

  &:hover {
    border-color: $input-hover;
  }

  @media (min-width: 768px) {
    width: 55px;
    height: 70px;
  }

  @media (min-width: 1440px) {
    width: 60px;
    height: 70px;
  }
}

.step__letter {
  display: block;
  width: 100%;
  height: 100%;

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;

  background-color: $basic-white;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &--active {
    background-color: $page-background;

    @media (min-width: 768px) {
      color: $basic-white;

      background-color: $blue-button;
    }
  }
}

.step__content {
  padding: 20px;

  background-color: $basic-white;
  border: 1px solid $another-border-color;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 2px;
    background-color: $page-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $input-hover;
    border-radius: 25px;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 71px;
    right: -33px;

    height: calc(100% - 71px);
    overflow-y: scroll;
    scrollbar-width: thin;

    border: none;
    border-bottom-left-radius: 0;
    box-shadow: 8px 8px 16px 0 rgba(54, 80, 148, 0.18);
  }

  @media (min-width: 1440px) {
    right: 0;

    padding: 25px;
  }
}

.step__list {
  @media (min-width: 768px) {
    width: 160px;
  }

  @media (min-width: 1440px) {
    width: 300px;
  }
}

.step__box {
  margin-bottom: 7px;
}

.step__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $blue-button;

  @media (min-width: 768px) {
    padding: 25px;
  }
}

.step__caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.step__cross {
  width: 9px;
  height: 9px;

  border: none;
  background-color: $transparent-color;
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat;

  cursor: pointer;
  opacity: 0.3;

  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
    outline: none;
  }

  @media (min-width: 768px) {
    width: 21px;
    height: 21px;
  }
}

.step__close {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 21px;
  height: 21px;

  border: none;
  border-radius: 50%;
  background-color: $page-background;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center;

  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
    outline: none;
  }

  @media (min-width: 768px) {
    top: 50%;
    right: 0;

    width: 22px;
    height: 24px;

    background-color: $transparent-color;
    background-size: 22px 24px;

    transform: translateY(-50%);
  }
}

.step__head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .step__flag {
    display: block;
    width: 35px;
    height: 24px;

    background-size: contain;
    border: none;

    &::after {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      left: inherit;
      right: 33px;
      top: 50%;
      z-index: 1;

      width: 45px;
      height: 100%;

      background-image: url("../img/fade-mobile.png");
      background-repeat: no-repeat;

      transform: translateY(-50%);

      @media (min-width: 768px) {
        right: -40px;

        width: 14px;
        height: 14px;

        border-radius: 50%;
        background-image: none;
        background-color: $blue-button;
      }

      @media (min-width: 1440px) {
        right: 144px;
      }
    }

    @media (min-width: 768px) {
      width: 70px;
      height: 47px;
    }

    &[data-country="Чехия"] {
      background-image: url("../img/flags/flag-czech.png");
    }

    &[data-country="Австралия"] {
      background-image: url("../img/flags/flag-australia.png");
    }

    &[data-country="Бельгия"] {
      background-image: url("../img/flags/flag-belgium.png");
    }

    &[data-country="Доминика"] {
      background-image: url("../img/flags/flag-dominica.png");
    }

    &[data-country="Германия"] {
      background-image: url("../img/flags/flag-germany.png");
    }

    &[data-country="Сейшелы"] {
      background-image: url("../img/flags/flag-seyshels.png");
    }

    &[data-country="Шри-Ланка"] {
      background-image: url("../img/flags/flag-shrilanka.png");
    }

    &[data-country="Таиланд"] {
      background-image: url("../img/flags/flag-thailand.png");
    }

    &[data-country="США"] {
      background-image: url("../img/flags/flag-usa.png");
    }

    &[data-country="Великобритания"] {
      background-image: url("../img/flags/flag-britain.png");
    }
  }
}

.step__legend {
  position: relative;

  padding-left: 12px;

  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: $blue-button;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: $blue-button;

    transform: translateY(-50%);

    @media (min-width: 768px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -12px;

    width: 12px;
    height: 2px;

    background-color: $blue-button;

    transform: translateY(-50%);

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    padding-left: 0;

    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.step__textarea {
  width: 100%;
  height: 220px;
  margin-top: 18px;
  padding: 10px 14px;

  font-size: 16px;
  font-family: inherit;
  line-height: 22px;
  color: $special-grey;

  border: 1px solid $another-border-color;
  border-radius: 4px;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    border-color: $input-hover;
  }

  &:active {
    border-color: $basic-blue;
  }

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding: 20px;
    height: 140px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    max-width: 730px;
  }
}
