*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.page {
  box-sizing: border-box;
}

.page__body {
  font-family: $main-font;

  background-color: $page-background;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[tooltip] {
  position: relative;

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    transition: opacity 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    z-index: 2;

    border-width: 0 8px 10px 8px;
    border-style: solid;
    border-color: $transparent-color $transparent-color $basic-tooltip
      $transparent-color;
    opacity: 0;

    transform: translateX(-50%);
  }

  &::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    bottom: -10px;
    z-index: 2;

    min-width: 80px;
    padding: 15px 25px 15px 25px;

    background: $basic-tooltip;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $basic-white;
    white-space: nowrap;

    border-radius: 5px;
    pointer-events: none;
    opacity: 0;

    transform: translateX(-50%) translateY(100%);
  }
}
